
.header{
  background-color: rgb(190, 182, 145);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding: 0 10px;
  height: 10vh;
}

.header h1{
  margin: auto 0;
}

.loginForm{
  display: flex;
  flex-direction: column;
  
}