body{
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p{
  margin: 0;
}

#root{
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header{
  background-color: rgb(190, 182, 145);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding: 0 10px;
  height: 10vh;
  min-height: 50px;
}

.nav{
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  align-self: flex-end;
  flex-grow: 4;
}

.nav button{
  height: 60%;
  margin: auto 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1{
  margin: auto 0;
}

.loginForm{
  display: flex;
  flex-direction: column;
}
  
.bookContent{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.bookModule{
  display: flex;
  flex-direction: column;
  background-color: burlywood;
  margin: 2px 2px;
  border-radius: 5px;
  width: 20vw;
  height: auto;

}

.bookModule p{
  margin: 0;
  padding: 0;
}

.bookImg{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  padding: 10px;
}

.bookImg img{
  height: 100%;
  margin: 0px auto;
}

.loanModule{
  background-color: rgba(163, 158, 132, 0.712);
  display: flex;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  height: 20%;
  max-height: 20%;
  justify-content: space-between;
}

.loanModule h3{
  margin: 0;
}
